body{
  background-image: url(../img/bg-full.png);
  color: fff;
}
.intro{
  margin-top: 2%
}
.btn-link:hover{
  color:#E6EAEC;
}
footer{
  position: fixed;
  right: 1%;
  bottom: 1%;
}
footer figure{
  display: inline;
  margin: 5px;
}
footer figure a:hover{
  text-decoration: none;
}
footer figure img{
  width: 40px;
}
